apache-airflow-providers-apache-spark==4.7.1
apache-airflow-providers-ssh==3.11.0
apache-airflow-providers-amazon==9.28.0
apache-airflow-providers-postgres==5.10.2
apache-airflow-providers-http==4.13.3
apache-airflow-providers-common-io==1.7.2
pyspark==3.5.2
boto3==1.43.12
minio==7.2.20
pandas==2.3.3
pyarrow==24.0.0
psycopg2-binary==2.9.12
great-expectations==0.18.15
